---
#
# Use the widgets beneath and the content will be
# inserted automagically in the webpage. To make
# this work, you have to use › layout: frontpage
#
layout: frontpage
header:
  image_fullwidth: header6.jpg

widget1:
  title: "Orange Pine Cleaner"
  url: '/orangePineCleaner/'
  image: esOrangePine1.jpeg
  text: 'Natural cleaner great for geneal cleaning.<br/> 16oz <em>$10</em>'

widget2:
  title: "Orange Pine Extra stregnth Cleaner"
  url: '/orangePineCleaner/'
  image: esOrangePine.jpeg
  text: 'Extra stong natural cleaner great for gunky, sticky, stuck on drit and general use <br/> 16oz <em>$15</em>'
#  video: '<a href="#" data-reveal-id="videoModal"><img src="http://phlow.github.io/feeling-responsive/images/start-video-feeling-responsive-302x182.jpg" width="302" height="182" alt=""/></a>'

widget3:
  title: "Mugwort Dry Leaf"
  url: '/mugwort/'
  image: mugwort.jpg
  text: '<em>Mugwort</em> mugwort'
#
# Use the call for action to show a button on the frontpage
#
# To make internal links, just use a permalink like this
# url: /getting-started/
#
# To style the button in different colors, use no value
# to use the main color or success, alert or secondary.
# To change colors see sass/_01_settings_colors.scss
#
callforaction:
  url: /contact/
  text: Contact us today to see what we can do for you. ›
  style: alert
permalink: /index.html
#
# This is a nasty hack to make the navigation highlight
# this page as active in the topbar navigation
#
homepage: true
---

<div id="videoModal" class="reveal-modal large" data-reveal="">
  <div class="flex-video widescreen vimeo" style="display: block;">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/3b5zCFSmVvU" frameborder="0" allowfullscreen></iframe>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

        <H3>Wish you could make all natural products hand grown and 
            hand crafted or to take back control of your health.</H3>
            <p>It can be hard to find the time to do all the things but 
                don’t let that stop you from a healthier and happier life. 
                BB Botanical can do the growing, sourcing, and the crafting 
                for you so you can rest assured that you are getting the best 
                without spending all of your time. </p>
        
        <img src="/images/Hugle.jpeg" alt="" style="width: 100%;">
        <H3>How we Grow</H3>
            <p>We are a permicultrue farm. We don't use any pesticides or chemical fertlizer. We grow our plants 
            as close to as they would in the wild. We fretilze with worms, snails, cows, and birds. We use leaves and wood to 
            airaite and hold water into the soil. We use compaion plants to feed or deter insects. All of this means 
            our plants are as nutrient rich as wild crafted.</p>
        
        
         <div class="medium-4 columns t30" style="width: 30%;">
             <img src="/images/jam.jpg" alt="" style="width: 100%;">
         </div>
        
        <div class="medium-4 columns t30" style="width: 70%;">
            <H3>How we Craft</H3>
                <p>We craft and harvest all of our products with healing intention. stuff????</p>
        </div>
