---
layout: default
format: blog-index
# Don't index these pages dear Google.
noindex: true

---
<div class="row">
	<div class="medium-8 columns t30">
		{% include _pagination.html %}
	</div><!-- /.medium-7.columns -->


	<div class="medium-4 columns t30">
		{% include _sidebar.html %}
	</div><!-- /.medium-5.columns -->
</div><!-- /.row -->
