---
layout              : page-fullwidth
show_meta           : false
title               : "Custome"
header:
   image_fullwidth  : "header8.jpg"
breadcrumb          : true
permalink           : "/offerings/Custom/"
---
<style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>

        <div class="medium-4 columns t30" style="width: 50%;">
           

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="/images/?.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="/images/?1.jpg"  style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="/images/?2.jpg"  style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="/images/?3.jpg"  style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="/images/?4.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="/images/?5.jpg"  style="width:100%">
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <!--<div class="caption-container">
    <p id="caption"></p>
  </div>-->

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="/images/?thumb.jpg" style="width:100%" onclick="currentSlide(1)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/?1thumb.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/?2thumb.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/?3thumb.jpg"  style="width:100%" onclick="currentSlide(4)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/?4thumb.jpg"  style="width:100%" onclick="currentSlide(5)" alt="">
    </div>    
    <div class="column">
      <img class="demo cursor" src="/images/?5thumb.jpg"  style="width:100%" onclick="currentSlide(6)" alt="">
    </div>
  </div>
</div>
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
      



        <div class="medium-4 columns t30" style="width: 50%;">
            
           
                <H2>Custom</H2>

                    <p style="bold"> Varies</p>
                    
                    <p>Custom formulas made just for you. If you arleady have a formula and you want me make it for you. 
                    I can also make a formula for you after discussion of your needs.</p>
                    
                     
                     <p><b>Perperation Types: </b> 
                     <em>Tea: </em>Dry plant gabeled<br>
                     <em>Powder: </em>Dry plant powedered<br> 
                     <em>Tincture:</em>Plant extracted in alcohol<br>
                     <em>Honey Infusion: </em>Plant infused into honey <br>
                     <em>Oxymel: </em>Plant extracted in alcohol mixed with honey and furit <br>
                     <em>Jelly: </em>Plant extracted in alcohol or water then simmered with fruit and pectin</b>
                     <em>Furit Leather: </em>Plant extracted in alcohol or water then mixed with furit and dryed</p>
                    
            
            
        </div>
        
        <div class="medium-4 columns t30" style="width: 100%;">
            <h3>Ingredients:</h3>
                <p>M?</p>
            <h3>Cautions and Contraindications:</h3>
                <P>M?</P>
            <h3>Storage:</h3>
                <p>K?</p>
  
        </div>
