---
layout              : page-fullwidth
show_meta           : false
title               : "Extra Stregnth Orange Pine Cleaner"
header:
   image_fullwidth  : "header9.jpg"
breadcrumb          : true
permalink           : "/offerings/esorangePineCleaner/"
---
<style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>

        <div class="medium-4 columns t30" style="width: 50%;">
           

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="/images/esOrangePine1.jpeg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="/images/esOrangePine.jpeg"  style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="/images/esOrangePine2.jpeg"  style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="/images/esOrangePine3.jpeg"  style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="/images/orangePine.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="/images/orangePine1.jpg"  style="width:100%">
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <!--<div class="caption-container">
    <p id="caption"></p>
  </div>-->

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="/images/esOrangePine1thumb.jpeg" style="width:100%" onclick="currentSlide(1)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/esOrangePinethumb.jpeg" style="width:100%" onclick="currentSlide(2)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/esOrangePine2thumb.jpeg" style="width:100%" onclick="currentSlide(3)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/esOrangePine3thumb.jpeg"  style="width:100%" onclick="currentSlide(4)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/orangePinethumb.jpg"  style="width:100%" onclick="currentSlide(5)" alt="">
    </div>    
    <div class="column">
      <img class="demo cursor" src="/images/orangePine1thumb.jpg"  style="width:100%" onclick="currentSlide(6)" alt="">
    </div>
  </div>
</div>
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
      



        <div class="medium-4 columns t30" style="width: 50%;">
            
           
                <H2>Orange Pine Extra stregnth Cleaner</H2>
                    <p style="bold"> $15</p>
                    <p>This cleaner really shines when it comes to the sticky icky messes. 
                    It has been shown to even remove old stuck on window tint better then other removers.
                    The power of orange oil and pine combined cuts through tough grime and sticky residue
                    fast. It can remove sticker residue, grease, bug gutd, tree sap, and more.
                    It is safe to use on hard surfaces like glass, metals, plastics, and more.
                    
                    This cleaner can be used as a general purpose cleaner, but it does stain cloth.
                    
                    As a side note it also kills spiders reltivly quickly if sprayed directly on them.</p>
                    <p><b>Soap-nut:</b> This berry is packed full of saponinons. Saponins help pull apart other 
                    molcules with its amphipathic nature lifting grease, drit, and grim off od surfaces.</p>
                    <p><b>Evergreen: </b>Evergreen leaves are great at removing grime becuase it is alkaline. 
                    But it truly shines in its known ability to disineffect. There is research that shows
                    it can disinfect almonella, staphylococcus aureus, escherichia coli, Pseudomonas aeruginosa and etc.</p>
                    <p><b>Orange Oil: </b>Orange peel has a high amount of D-lemonene in it. D-lemonene is a 
                    strong degreaser. It has been even shown to remove oil stains from concret and mold from deck 
                    deck charis. It also has a wonderful smell that can help deorderize anything from a litter box
                    to an ashtray.</p>
                    
                    <p><b>Directions: </b>Shake bottle viguosly for 30 seconts then spray directly on to the area that you would like to clean thean wipe 
                    off with a towel or rag. If the area does not wipe off easly leave on the area for 5 minutes
                    then rub clean.</p>
                
            
            
        </div>
        
        <div class="medium-4 columns t30" style="width: 100%;">

            <h3>Ingredients:</h3>
                <p>Vinegar, Soap-nut Berry Extract, Pine Extract, Orange Oil</p>
            <h3>Caution: </h3>
                <p>Will stain cloth, Keep out of reach of children, may be irritating to eyes or skin, Do not use on 
                natural stone countertops as the acid in the cleaner will wear away the prtective sealant.<br>
            <b>First aid:</b>
                <em>Skin Contact:</em> Rinse off with water if irritating.<br> <em>Eyes:</em> Remove contacts and rinse 
                eye for 15 minutes, if still irritated see doctor. <br> <Em>Swallowed:</Em> If small amount rinse mouth 
                out and drink a glass of water, if large amount it can be toxic call doctor.</p>
            <h3>Storage:</h3>
                <p>Store away from flame, out of reach of children, and direct sunlight.</p>

        </div>
