---
layout              : page-fullwidth
show_meta           : false
title               : "Blossom Essecne Birchy Bleeding Hart"
header:
   image_fullwidth  : "header11.jpg"
breadcrumb          : true
permalink           : "/offerings/feBleedingHart/"
---
<style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>

        <div class="medium-4 columns t30" style="width: 50%;">
           

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="/images/bleedingHart.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="/images/bleedingHart1.jpg"  style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="/images/bleedingHart2.jpg"  style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="/images/bleedingHart3.jpg"  style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="/images/bleedingHart4.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="/images/bleedingHart5.jpg"  style="width:100%">
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <!--<div class="caption-container">
    <p id="caption"></p>
  </div>-->

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="/images/bleedingHartThumb.jpg" style="width:100%" onclick="currentSlide(1)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/bleedingHart1Thumb.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/bleedingHart2Thumb.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/bleedingHart3Thumb.jpg"  style="width:100%" onclick="currentSlide(4)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/bleedingHart4Thumb.jpg"  style="width:100%" onclick="currentSlide(5)" alt="">
    </div>    
    <div class="column">
      <img class="demo cursor" src="/images/bleedingHart5Thumb.jpg"  style="width:100%" onclick="currentSlide(6)" alt="">
    </div>
  </div>
</div>
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
      



        <div class="medium-4 columns t30" style="width: 50%;">
            
           
                <H2>Birchy Bleeding Hart Blossom Essence</H2>
                    <p style="bold"> $20 mother, $15 stock</p>
                    <p>Birchy Bleeding Hart Blossom Essence has come from a land with lost loved ones 
                    and new beginings. It grew strong under the shade of an old Birch tree.
                    The birch tree eventully fell down leaving Birchy alone and to become over grown 
                    by weeds. It blooms bright in spite of the struggle and has grown stronger
                    from the nutrience its friend has left behind.</p>
                                        
                    <p><b>Flower Essence: </b>Known for being a mysitcal medicine, 
                    ment to hold the energy of the flower. They are often used to address
                    emotional, mind-body and soul health/deveopment. There is an emerging
                    sicence on the study of the energy all around us. The book Secert 
                    Life of plants goes through many of the studies about the energy 
                    and vitality of plants. Flower essences harness that energy by using 
                    water, the sun or moon and the flower of the plant. The essence is 
                    then perserved with alchol often burban somtimes voldka.
                    </p>
                    
                    <p><b>Bleeding Hart: </b>Is said to encourge healing from grief in a 
                    healthy way. It helps mend a said or borken hart. It has been used to 
                    rellieve pain and accept reality to move forward. Remembering joy, and
                    love and all the butiy of life you have been given. Extracted in the 
                    flower moon the essence enhanced with a deeper intutive and repeceptive 
                    quaility to unlock the mysterys of life and death.</p>
                    
                    <p> <b>Method and Dosage: </b>The mother and stock are availalbe. 
                    The mother is 1/2 mooon infused bleeding hart blossom essence and 1/2 burban.
                    The stock is 1/4 moon infused bleeding hart blossom essence and 3/4 
                    burban and water. Since this is an energy medicine it is known to be
                    powerful and that the more you dilute it the more powerful it is. 
                    Many dilute the mother 10x and then add just a couple drops to an
                    8oz cup. I however welcome you to try different methods between 
                    putting it in a defuser, wareing it around your neck, or spraing it
                    into the air as well to find how it energy can benifit you the best.</p>
                
            
            
        </div>
        
        <div class="medium-4 columns t30" style="width: 100%;">

            <h3>Ingredients:</h3>
                <p>Water, bourban, Birchy Bleeding Hart Blossom Essence</p>
            <h3>Caution:</h3>
                <p>This product does contain alcohol</p>
            <h3>First aid:</h3>
                <p><b>Eyes:</b>If splashed in the eyes wash out immidatly for at least 
                5 minues. If pain puersist see a doctor.</p>
            <h3>Storage:</h3>
                <p>Keep out of reach of childern and flame in a dark cool place.</p>
 
        </div>
