---
layout              : page-fullwidth
show_meta           : false
title               : "Blossom Essence Bow Apple"
header:
   image_fullwidth  : "header12.jpg"
breadcrumb          : true
permalink           : "/offerings/feBowApple/"
---
<style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>

        <div class="medium-4 columns t30" style="width: 50%;">
           

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="/images/bowedAppleBlossom.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="/images/bowedAppleBlossom1.jpg"  style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="/images/bowedAppleBlossom2.jpg"  style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="/images/bowedAppleBlossom3.jpg"  style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="/images/bowedAppleBlossom4.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="/images/bowedAppleBlossom5.jpg"  style="width:100%">
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <!--<div class="caption-container">
    <p id="caption"></p>
  </div>-->

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="/images/bowedAppleBlossomthumb.jpg" style="width:100%" onclick="currentSlide(1)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/bowedAppleBlossom1thumb.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/bowedAppleBlossom2thumb.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/bowedAppleBlossom3thumb.jpg"  style="width:100%" onclick="currentSlide(4)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/bowedAppleBlossom4thumb.jpg"  style="width:100%" onclick="currentSlide(5)" alt="">
    </div>    
    <div class="column">
      <img class="demo cursor" src="/images/bowedAppleBlossom5thumb.jpg"  style="width:100%" onclick="currentSlide(6)" alt="">
    </div>
  </div>
</div>
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
      



        <div class="medium-4 columns t30" style="width: 50%;">
            
           
                <H2>Bow Apple Blossom Essence</H2>
                    <p style="bold"> $15 mother, $10 stock</p>
                    <p>Bow Apple Tree has had its share of struggles. It grows on a northern hill side where there 
                    are strong winds from the North. These strong winds over the years have given the tree bent trunk. 
                    The tree reaches up the hill staying closer to the ground then its cousins down the hill. Bow has 
                    put much focus into its roots causing it to flower very little in past years. This year Bow has 
                    bloomed in full glory. The focus placed on the roots for years has made Bow strong and resilient. 
                    Bow is able to withstand the strong winds of the north and bloom stronger then its cousins. </p>
 
                    <p><b>Flower Essence: </b>Known for being a mysitcal medicine, 
                    ment to hold the energy of the flower. They are often used to address
                    emotional, mind-body and soul health/deveopment. There is an emerging
                    sicence on the study of the energy all around us. The book Secert 
                    Life of plants goes through many of the studies about the energy 
                    and vitality of plants. Flower essences harness that energy by using 
                    water, the sun or moon and the flower of the plant. The essence is 
                    then perserved with alchol often burban somtimes voldka.</p>
                    
                    <p><b>Apple Blossoms: </b>It is said to encourage the purifcation of 
                    emotions and inner health. It helps you rid yourself of a posinous 
                    past and restory your inner beuty. Apple blossom is said to purify 
                    your aura to connect you to the energy of the unverse and radiate the
                    inner glow of your soul so that your dreams may become fuirtful. </p>
                    
                    <p> <b>Method and Dosage: </b>The mother and stock are availalbe. 
                    The mother is 1/2 sun infused Bow apple blossom essence and 1/2 burban.
                    The stock is 1/4 sun infused Bow apple blossom essence and 3/4 
                    burban and water. Since this is an energy medicine it is known to be
                    powerful and that the more you dilute it the more powerful it is. 
                    Many dilute the mother 10x and then add just a couple drops to an
                    8oz cup. I however welcome you to try different methods between 
                    putting it in a defuser, wareing it around your neck, or spraing it
                    into the air as well to find how it energy can benifit you the best.</p>
                
            
            
        </div>
        
        <div class="medium-4 columns t30" style="width: 100%;">

            <h3>Ingredients:</h3>
                <p>Water, Bourban, Apple Blossom Essence</p>
            <h3>Caution:</h3>
                <p>This product does contain alcohol</p>
            <h3>First aid:</h3>
                <p><b>Eyes:</b>If splashed in the eyes wash out immidatly for at least 
                5 minues. If pain puersist see a doctor.</p>
            <h3>Storage:</h3>
                <p>Keep out of reach of childern and flame in a dark cool place.</p>
 
        </div>
