---
layout              : page-fullwidth
show_meta           : false
title               : "Lady's Mantle (Alchemilla vulgaris)"
header:
   image_fullwidth  : "header17.jpg"
breadcrumb          : true
permalink           : "/offerings/LadysMantle/"
---
<style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>

        <div class="medium-4 columns t30" style="width: 50%;">
           

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="/images/LadysMantle.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="/images/LadysMantle1.jpg"  style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="/images/LadysMantle2.jpg"  style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="/images/LadysMantle3.jpg"  style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="/images/LadysMantle4.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="/images/LadysMantle5.jpg"  style="width:100%">
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <!--<div class="caption-container">
    <p id="caption"></p>
  </div>-->

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="/images/LadysMantlethumb.jpg" style="width:100%" onclick="currentSlide(1)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/LadysMantle1thumb.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/LadysMantle2thumb.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/LadysMantle3thumb.jpg"  style="width:100%" onclick="currentSlide(4)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/LadysMantle4thumb.jpg"  style="width:100%" onclick="currentSlide(5)" alt="">
    </div>    
    <div class="column">
      <img class="demo cursor" src="/images/LadysMantle5thumb.jpg"  style="width:100%" onclick="currentSlide(6)" alt="">
    </div>
  </div>
</div>
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
      



        <div class="medium-4 columns t30" style="width: 50%;">
            
           
                <H2>Lady's Mantle (Alchemilla vulgaris)</H2>

                    <p style="bold"> $4.5 per Oz</p>
                    
                    <p>Lady's Mantle is rich in tannis which lends to most of its healing actions. Tannis are astingent, stypic, 
                    and can tone. It can make it a great wound healer inside and out. Helping the body dry up and seal all kinds 
                    wounds from cuts and scrapes to ulcers. It may also help tone skin that is lacking support and feels lose by 
                    using it as a compress. 
                    
                    Lady's Mantle is most known for its healing powers post pardum. It is however an over all uterin tonic
                    that can help with an array of menstrual ailments, like bleeding between periods, heavy flow, and other 
                    discharge issues like yeast infections. It has a way of influencing and promoting the well being in many conditions 
                    relating to the female reproductive organs. Some say it has an emmenogogue action due to its use to 
                    promote proper menstrual flow. It has a reputation for helping ease menopausal symptoms like 
                    hot flashes and night sweats. It could be useful could be in cases endometriosis or fibroids. It has even helped some 
                    tone there breasts after lactation.
                    
                    Some of used it as a mouth wash for support of gum issues, particularly bleeding gums and inflammation 
                    as well as a gargle for laryngitis. It has been ues for ulcers in the digestive system, mild diarrhea 
                    vomitings, fluxes of all sorts, bruises by falls and ruptures.
                    
                      
                      </p>
                    
                     <p><b>Common Names: </b>Nine Hooks, Bear's Foot, or Lion's Foot.</p>
                     
                     <p><b>Herbal Actions: </b> 
                     <em>Anti-inflammatory: </em>Inflammation is a healthy body response, but sometimes their 
                      too much inflamtion causeing more harm then good. Anti-inflamitory herbs help control 
                     the inflamtion to maintain a healthy healing level.<br>
                     <em>Antioxidant: </em>Inhibits oxidation, protecting cells from the damage caused by free radicals (unstable molecules).<br> 
                     <em>Astringent: </em> Have a binding action on mucous membranes, skin, and other exposed tissues which tighten the tissues. It is of special importance in wound healing and conditions of the digestive system.<br>
                     <em>Styptic: </em>Similar to Astingent, but have the abilty to stop open wonds from bleeding or leaking fuilds.<br>
                     <em>Uterine Tonic: </em>Tonics work in many ways, but are remarkable at healing. Uterine Tonics primarly increase the tone of the uterine muscles.</p>
                     
                    <p><b>Energetics: </b>Salty, bitter, cooling, drying</p>
                    
                    <p> <b>Method and Dosage: </b> The Average daily dose is 5-10 grams of herb or equivalent preparation.
                    To make a tea, pour 1 cup of boiling water over 2-3 Tablespoons of herb.  
                    Steep for 10 to 15 minutes with a lid, then strain.
                    To make a tincture, use about a 1:5 ratio in 25-30% alcohol. An average dose is 2 to 4 mL three times a day.
                    To make a compress boil water and then steep 4 tablespoons of Lady’s Mantle in 1 cup of water for 15 minutes. 
                    Strain and then while the tea is warm dip a clean washcloth into the tea and place on the body.</p>
            
            
        </div>
        
        <div class="medium-4 columns t30" style="width: 100%;">
            <h3>Ingredients:</h3>
                <p>Lady's Mantle <em>Alchemilla vulgaris</em>Leaf and flower (no Root and almost no stem)</p>
            <h3>Cautions and Contraindications:</h3>
                <P>Lady's Mantle</P>
            <h3>Storage:</h3>
                <p>Keep in an air tight container out of direct sunlight.</p>
  
        </div>
