---
layout              : page-fullwidth
show_meta           : false
title               : "Mugwort"
header:
   image_fullwidth  : "header8.jpg"
breadcrumb          : true
permalink           : "/offerings/mugwort/"
---
<style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>

        <div class="medium-4 columns t30" style="width: 50%;">
           

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="/images/mugwort.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="/images/mugwort1.jpg"  style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="/images/mugwort2.jpg"  style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="/images/mugwort3.jpg"  style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="/images/mugwort4.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="/images/mugwort5.jpg"  style="width:100%">
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <!--<div class="caption-container">
    <p id="caption"></p>
  </div>-->

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="/images/mugwortthumb.jpg" style="width:100%" onclick="currentSlide(1)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/mugwort1thumb.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/mugwort2thumb.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/mugwort3thumb.jpg"  style="width:100%" onclick="currentSlide(4)" alt="">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/mugwort4thumb.jpg"  style="width:100%" onclick="currentSlide(5)" alt="">
    </div>    
    <div class="column">
      <img class="demo cursor" src="/images/mugwort5thumb.jpg"  style="width:100%" onclick="currentSlide(6)" alt="">
    </div>
  </div>
</div>
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
      



        <div class="medium-4 columns t30" style="width: 50%;">
            
           
                <H2>Mugwort (Artemisia spp)</H2>

                    <p style="bold"> $2.5 per Oz</p>
                    
                    <p>Mugwort is a wonderful plant best known for its dream action. It is not known for sure if it
                    promotes more dreaming or helps dreams be more memboral. It has been
                    used to help people lucid dream, which is a type of dreaming where the dreamer has full control
                    of the dream.
                    It is also a great stimulating tonic nervine which for some can help 
                    uplift mood and be emtionally resliant. Historically mugwort has been used as a 
                    abortificiant, but it is not recomened for this use nor to take when pregnat trying to become pregnat. 
                    It can be used to help bring blood to the pelvic or utrine regein of the body which may bring on 
                    menstration for some women. Mugwort can help you persipratie which may aid in the 
                    breaking of fevers. It can also be used to clean your intstine of parcites while promiting good
                    digestion.</p>
                    
                     <p><b>Common Names: </b>St. John’s Plant, Chrysanthemum Weed, Wild Wormwood, 
                      Sailor’s Tobacco, Chinese Honeysuckle.</p>
                     <p><b>Herbal Actions: </b> <em>Anthelmintic: </em>expels parasitic worms and internal parasites. <br>
                     <em>Diaphoretic: </em>Induces perspiration.<br> <em>Diuretic:</em> promotes urineation. <br>
                     <em>Emmenagogue: </em>Stimulates blood flowing to the pelvic area. <br>
                     <em>Nervine: </em>In this case a nervous sytem stimulant and tonic. <br>
                     <em>Oneirogen: </em>Enhances dreaming. Stomachic: promotes the appetite and aids digestion.</p>
                    <p><b>Energetics: </b>Bitter, Acrid, Warm.</p>
                    
                    <p> <b>Method and Dosage: </b>Infusion- Mugwort roughly one ounce of dry herb to one pint of boiling water, 
                    steeped in a covered vessel to limit the loss of water. 
                    Drink warm in ½ teaspoon doses for more diaphoretic action
                    Drink cold for a more tonic action 4oz up to three times daily. 
                    Mugwort is bitter, sweeter herbs like Lemon Balm, licrice and mints are good 
                    additions to a Mugwort tonic.</p>
            
            
        </div>
        
        <div class="medium-4 columns t30" style="width: 100%;">
            <h3>Ingredients:</h3>
                <p>Mugwort Leaf (no flower,or Root and almost no stem)</p>
            <h3>Cautions and Contraindications:</h3>
                <P>Mugwort is a gentle emmenagogue, but it not recommended for use during pregnancy. 
                    Allergies, use cautiously if you tend to have issues with ragweed. 
                    Using large amounts of Mugwort can cause gastrointestinal distress. 
                    Is known to blur the line between reality and dreams for some people.</P>
            <h3>Storage:</h3>
                <p>Keep in an air tight container out of direct sunlight.</p>
  
        </div>
