---
layout              : page-fullwidth
show_meta           : false
title               : "About"
header:
   image_fullwidth  : "header5.jpg"
breadcrumb          : true
permalink           : "/about/"
---

<div>
        <H3>Off-grid apothecary and permicultre</H3>
            <p>We have 98 acre permaculture farm located  in the northern 
            highlands of Vermont, in the Green Mountains. We are a 
            company where tradition is coupled with scientific knowledge 
            to create quality products. Our goal is to create safe and 
            potent herbal products for your family’s health and vitality 
            while being stewards for the earth. On a summer day you might 
            find us in the food forest harvesting strong plants or in the 
            lab extracting there strength for you. We offer custom 
            products for a wide range of everyday remedies for the whole 
            family. Explore our diverse range of teas, tinctures, jams, 
            fruit leathers, cleansers, creams, and oils meticulously 
            crafted for you. All of our products and herbs are  
            sourced from our land whenever possible. 
            All of our products are minimally processed and made in small 
            batches. We pride ourselves on providing exceptional products 
            that are specifically tailored to meet your needs. 
            We are your resource for a tasty fun way to take your herbs. 
            </p>

         <H3>Off-grid</H3>
            <p>Our farm and processing lab are two miles from the nearest 
            power line. All energy that is used to grow and craft our products 
            are sourced from wind, solar, and the earth. Our wind turbines 
            are small to make sure they do not interfere with wind patterns 
            that may attract birds into a dangerous situation. Our solar 
            set up utilizes old and even broken panels to not waste just 
            because they are less efficient. There is energy all around 
            us in the trees and dirt we utilize all of it in a natural 
            sustainable way. This allows us to craft products that are as nature
            intened. </p>

        <H3>Quality</H3>
            <p> We care about the products we make and the planet that 
            has given them to us. We do the work to make you the best product 
            possible and to leave this planet in the best shape possible. 
            BB Botanical is on a mission to help everyone love the benefits 
            of plants.</p>
            
        <H3>Sales</H3>
            <p>We don't do sales because sales is often a way of 
            selling the product has a 70% mark up is now selling it for 50% mark up. Which makes 
            it seem great, but when you are buying it not on sale you paying a more inflated 
            price than it needed to be. Here we are simply charging what it takes us to make and sell
            products in the best way we can. Our products our priced by the time, energy, and input 
            into each product. For example if you have ever looked at a menu and see that an egg 
            and sausage patty with toast cost more then an egg, cheese, and sausage sandwich. 
            That means they are not making a 1 to 1 for there 
            prices. Here we calculate exactly how much goes in to each product to determine the price. 
            So you know that every item you buy is made in the best possible way while giving 
            you the best value possible every time. </p>
            
        <H3>Packaging</H3>
            <p>We try to recycle our packaging. You may end up with foam peanuts that 
            we recived when ordering bottles or old recyled newpaper. We do try to make 
            sure the package gets to you safely althou it may not always come with the same
            packaging.</p>
        <H3>Returns</H3>
            <p>While we hope you enjoy all of our offerings to the fullest somtimes unforseen things happen.
            When these happen we will work with you to try and make things right. We will work with each
            person and order on an indivual basis. </p>
</div>
  
   



