---
layout              : page-fullwidth
show_meta           : false
title               : "Crafting"
header:
   image_fullwidth  : "header16.jpg"
breadcrumb          : true
permalink           : "/about/crafting/"
---

<div>
        
        <H3>Life Force</H3>
            <p>While herbs and contempary medicine can help you
            we feel that that when mass produced they are still often lacking somthing. It is hard to pin point 
            what is missing. If you do an anylisis on the material you will see it has all the constuients that it
            should so why does it not feel right. We feel it is lacking life force. There has been a repeated study 
            that showed when a single leaf is given good intentions that it can live longer then one that is not. We 
            call this its life force. 
            When your health becomes mass produced it stats to lose that good intention and thus its life force.
            In every step of the process at BB Botanical we put good intenstions in order to preserve that life force 
            for you.</p>
            
        <H3>Harvesting</H3>
            <p>We do not clear cut or use machinery. We use cleaned sharp sissors or a hand shovle. 
            When harvesting it does depend on the plant, but we try to take only 3/4 of an indivdule plant and 
            we leave 3/4 of species untouched. Our goal is to let our plants naturally produce the 
            seed for next year and let it land where it wants to. By doing this each year the plant will be stronger
            and better adapted to the envirment it lives in.
            </p>
        
        <H3>Connected</H3>
            <p>We are conected in this universe. We are connected witht he soil on the earth and the plants in the soil.
            The Sun connects us to our galexy which connects us to our universe. We value that connection when
            we craft to then connect the plants to you.</p>
        

            
        <H3></H3>
            <p></p>
        
        <H3></H3>
            <p></p>
 
</div>
