---
layout              : page-fullwidth
show_meta           : false
title               : "Growing"
header:
   image_fullwidth  : "header15.jpg"
breadcrumb          : true
permalink           : "/about/growing/"
---

<div>
        
        <H3>Certified Organic</H3>
            <p>Why do we not want to be come certified organic. Because 
            certified organic means a lot less that it is lead to believe. 
            Being certified organic means that a company payed a bunch of 
            money to a government organization that then makes sure that  
            the company checks some boxes. Most of it has little to do with best farming 
            practices and more with making money. So no we don't want to be certified 
            organic, we don't want to be apart of a broken system. We want to grow the best quality plants, 
            that we can. We do extensive research and tests on how to grow plants that are strong and healthy. 
            </p>
            
        <H3>Permiculture</H3>
            <p>We grow our plants in alience with nature. We have 2 types of huglekultures which most of 
            our plants grow on. We have field hugles which are 2-3 feet tall that our annuals, vines and full 
            sun plants grow on. The others grow on 5 foot hugals in a food forest. The hugles allow us to not 
            have to water as they naturally retain the rain water for the plants druing times of drought. 
            This means less water needs to be pumped out of the ground and allowing nature to sustain life naturally.
            The other great advatange to huglekulture is that it extends the growing season. We live in zone 4 which
            means a lot of great plants have a diffcult time making it through the winter. By growing on hugles we are
            able to grow plants that normaly don't grow here and allow them to florish. 
            </p>
        
        <H3>Biodynamic</H3>
            <p>Our biodynamic plants are grown in in living soil, this provides a 
            quality of nutrition not possible with chemicals. Intstead of using pesticites 
            we use compainon planting as an example 
            plating onions near by can deter insects from eating more sensivite plants. Primarly 
            we fertlize we our resouces right on our farm. We raise worms, and snails for duck food 
            and fertlizer. The primary diet of our ducks is worms, snails and our crops to then use 
            duckdropings as fretlizer as well. This ensures a healthy cyle of life pesticide free.
            We also use plants like dandilions that draw minerals up from deep in the earth. 
            With the combination of biodynamic practices we create a living soil for our plants to thrive.</p>
        
        <H3>Life starts in the Soil</H3>
            <p>The way to have healthy plants is to have healthy living soil. Many farmers till up the soil
            and use large machines to harvest and plant. This kills the life in the soil. We all live in
            a symbioc realtionship with each other. The microbes in the soil feed the plants, we eat the plants
            that feed the microbes inside of us, and we care for the soil. If you destroy the microbes 
            with bad farming technics you then grow unhealthy plants, then eating those unhealthy plants
            do not feed the microbes inside of us as well, which can then lead to us not feeling well.
            We care about our soil and all the organizims that live in it. We help them florish to help
            you florish. </p>
            
        <H3>Future</H3>
            <p>We plant and care for at risk plants on our farm to help 
            them spread back into their natural habitats. We don’t  
            donate to organizations that say they help, 
            we do the work. We have chaga and are experimenting with helping 
            it propagate. We have American ginseng and help spread the seeds 
            every fall. We will be adding lady slippers to our swamps soon 
            and more. We hope to become a model farm for others to follow. 
            Not just organic but to have a living soil. Not using power 
            from coal or gas but harnessing the power around us. Not just 
            give money for some one else to save the plants from extinction 
            but utilize our land to help everyone thrive.</p>
            
        <H3>Upcoming Expirments</H3>
            <p>Giving our soil antenas. There have been studies that there is energy and magnatism all around us
            and in all life. They have shown when the sun is in a cycle that gives off more energy to the earth 
            that plants do better. We plan on flowing the postive experiments of the many that came before us 
            on giving our soil antennas. This allows the area of soil to recive more engery increaseing the plants 
            vitality.</p>
            <p>Planting by the moon. There are many folk stories and even some studies that show planting
            and harvesting by the cycles of the moon can very benifical. We want to try it and study the effects 
            ourselves. There are many gardening technics that were once well practiced but fell out of favor
            and not enough people study them to find out if the results are as amazing as they sound. We dedicate
            parts of our farm to do these studies and find out what of these folklore technics can improve not only
            the life in the soil and plants but of thsoe that consume the essence of these plants.</p>
 
</div>
